body {
	/*background-color: #CFD8DC;*/
	background: url("../images/blueskybackground.png") fixed no-repeat left top;
	height: 100vh;
}

.spacer {
	height: 5vh;
}

.location {
	color: white;
	height: 5vh;
	text-align: center;
	font-family: Roboto, sans-serif;
	vertical-align: center
	color: white;
	font-size: 55px;
	vertical-align: middle;

}



canvas {
	/*border: black 2px solid;*/
}

.current-weather-image {
	border: black 2px solid;
}

#temp-info {
	height: 100px;
	margin: auto;
	/*background-color: #E0E0E0;*/
	margin: 10px 0px;
}

.widget-wrapper {
	background-color: rgba(68, 124, 181, 0.4);
	height: 90vh;
	position: relative;
}

.info-wrapper {
	padding: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.info-left {
	padding: 0px;
}

.info-center {
	padding: 0px;
}

.info-right {
	padding: 0px;
}

.high-today {
	padding: 0px;
	height: 50px;
	border: black solid 2px;
}

.low-today {
	padding: 0px;
	height: 50px;
	border: black solid 2px;
}

.rain-today {
	padding: 0px;
	height: 55px;
	border: black solid 2px;
}

.wind-today {
	padding: 0px;
	height: 55px;
	border: black solid 2px;
}

.wind-arrow {
	padding: 0px;
	height: 160px;
	border: black solid 2px;
}

.canvas-wrapper {
	padding: 0px;
}

.info-left {
	padding: 0px;
}

.form-wrapper {
	padding: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.main {
	/*background-color: #B0BEC5;*/
}

.widget-wrapper {
	/*background-color: #B0BEC5;*/
}

.forecast-main {
/*	background-color: #E0E0E0;*/
	margin-top: 40px;
	height: 15vh;
}

.form-wrapper {
/*	border: 2px solid green;*/
}

.forecast-wrapper {
	padding: 0px;
}

.current-weather-wrapper {
	/*border: 2px solid yellow;*/
	height: 70vh;
	position: relative;
}

form {
	padding: 5px 0px;
}

input {
	max-width: 70%;
}

button {
	width: 10%;
}

.forecast {
	border: blue 2px dashed;
	height: 150px;
}



/* Video */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('https://player.vimeo.com/external/121444434.hd.mp4?s=1a2230647bd2a558ec8df2af9b8ac4e01234e927&amp;profile_id=119&amp;oauth2_token_id=57447761') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}